.list, .chosenItems {
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #323232;
  border-radius:  8px;
  padding: 1em;
  max-width: 50%;
  margin: 0 auto 1em auto;
}

.deleteBtn, .toMapBtn, .addBtn, .list select {
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  padding: 1em;
}

.toMapBtn, .addBtn {
  background-color: #2CC185;
  color: white;
}

.deleteBtn {
  background-color: #bf2b2b;
  color: black;
}

.addBtn, .deleteBtn {
  margin-right: 2em;
}

.availableItemsList {
  margin-bottom: 4em;
}

.chosenItems h2 {
  margin-top: 4em;
}

.chosenItems ul {
  list-style: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.chosenItems ul li {
  padding: 1em;
  margin: 1em;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 4px;
}