.mapBlock, .mapBlockUnwalkable, .mapBlockWalkable, .youreHere, .mapBlockPath {
  display: inline-block;
  width: 4em;
  height: 4em;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/*.mapBlock {}*/

.mapBlockUnwalkable {
  background-color: #323232;
  border: 1px solid grey;
}

.mapBlockPath {
  background-color: #3e98d1;
}

.youreHere {
  background-color: #d13e3e;
}